package __PACKAGE__.navigation

import androidx.navigation3.runtime.EntryProviderScope
import androidx.navigation3.runtime.NavKey
import io.github.jean.core.ui.navigation.Route
import __PACKAGE__.__MODULE_NAME_UPPER_CAMEL_CASE__Route

fun EntryProviderScope<NavKey>.__MODULE_NAME_LOWER_CAMEL_CASE__Entry() {
    entry<__MODULE_NAME_UPPER_CAMEL_CASE__Route> {
        __MODULE_NAME_UPPER_CAMEL_CASE__Route()
    }
}
