package __PACKAGE__

import androidx.compose.runtime.Composable
import androidx.compose.runtime.getValue
import androidx.compose.ui.Modifier
import dev.zacsweers.metrox.viewmodel.metroViewModel
import __PACKAGE__.model.__MODULE_NAME_UPPER_CAMEL_CASE__Intent
import __PACKAGE__.model.__MODULE_NAME_UPPER_CAMEL_CASE__State
import org.orbitmvi.orbit.compose.collectAsState
import org.orbitmvi.orbit.compose.collectSideEffect

@Composable
fun __MODULE_NAME_UPPER_CAMEL_CASE__Route(
    modifier: Modifier = Modifier,
    viewModel: __MODULE_NAME_UPPER_CAMEL_CASE__ViewModel = metroViewModel()
) {
    val state by viewModel.collectAsState()

    viewModel.collectSideEffect { effect ->
    }

    __MODULE_NAME_UPPER_CAMEL_CASE__Screen(
        state = state,
        onIntent = viewModel::onIntent,
        modifier = modifier,
    )
}

@Composable
private fun __MODULE_NAME_UPPER_CAMEL_CASE__Screen(
    state: __MODULE_NAME_UPPER_CAMEL_CASE__State,
    onIntent: (__MODULE_NAME_UPPER_CAMEL_CASE__Intent) -> Unit,
    modifier: Modifier = Modifier,
) {
}
