package __PACKAGE__.model

import io.github.jean.core.ui.mvi.Intent

sealed interface __MODULE_NAME_UPPER_CAMEL_CASE__Intent : Intent {
    data object BackClick : __MODULE_NAME_UPPER_CAMEL_CASE__Intent
}
